body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e2f;
    color: #f0f0f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    color: #00e676;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px #000;
}

div {
    margin-bottom: 1.5rem;
}

input.todo-task {
    width: 280px;
    padding: 12px;
    font-size: 1.1rem;
    border: 2px solid #333;
    border-radius: 25px;
    background-color: #2a2a3e;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

input.todo-task:focus {
    border-color: #00e676;
    box-shadow: 0 0 8px #00e676;
}

button.add-btn {
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    background-color: #00e676;
    border: none;
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 230, 118, 0.3);
}

button.add-btn:hover {
    background-color: #00c853;
    box-shadow: 0 8px 15px rgba(0, 200, 83, 0.4);
}

.notEmpty{
    list-style: none;
    padding: 12px;
    width: 90%;
    max-width: 400px;
    background-color: #282845;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: column;
    gap: 20px;
} 

.empty {
    display: none;
}

li {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 1.2rem;
    color: #f0f0f5;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #3d3d5a;
}

li > div {
    flex: 1;
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

.del-btn {
    height: auto;
    background-color: #ff5252;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(255, 82, 82, 0.3);
}

.del-btn:hover {
    background-color: #d32f2f;
    box-shadow: 0 6px 10px rgba(211, 47, 47, 0.5);
}


input.edit {
    width: 100%;
    font-size: 1.2rem;
    padding: 6px 10px;
    border: 2px solid #00e676;
    border-radius: 5px;
    background-color: #2a2a3e;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input.edit:focus {
    border-color: #00c853;
    box-shadow: 0 0 6px #00e676;
}